<!-- Header -->
<header id="home-slider" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        {% for sliderItem in site.categories.slider %}
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('{{ site.baseurl }}/{{ sliderItem.image }}');"></div>
            <div class="carousel-caption">
                <h1>{{ sliderItem.title }}</h1>
                <h4>{{ sliderItem.content }}</h4>
            </div>
        </div>
        {% endfor %}

        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('{{ site.baseurl }}/img/slider/2.jpg');"></div>
            <div class="carousel-caption">
                <h1>SPECIAL COURSES</h1>
                <h4>Spanish for Diplomats. Courses in office or at home.<br>
                    Specific training for those working internationally in public and NGO sectors and their families.
                </h4>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('{{ site.baseurl }}/img/slider/3.jpg');"></div>
            <div class="carousel-caption">
                <h1>INDIVIDUAL AND GROUP LESSONS</h1>
                <h4>Improve your grammar skills learning the language
                    just how YOU need it.</h4>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#home-slider" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#home-slider" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
